@import '../../styles/variables.scss';
button {
  &.button-common {
    color: $text;
    cursor: pointer;
    border: 1px solid $text-light-2;

    &:hover {
      border: 1px solid $text-light;
    }
    &.normal {
      font-size: 12px;
      padding: 4px 8px;
      // border: 1px solid $text-light-2;
      border-radius: 2px;
    }
    &.small {
      font-size: 10px;
      padding: 2px 6px;
      width: fit-content;
      border-radius: 2px;
    }
  }
}

// artist
.artist-follow {
  display: flex;
  align-items: center;
  .follow-icon {
    font-size: 8px;
    margin-right: 0.25rem;
  }
}
